{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Your Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
         <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Remove</th>

                  </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                      {% with product=item.product %}
                        <tr>
                            <td class="p-4">
                            <div class="media align-items-center">
                                <img src="{{ product.image.url }}" class="d-block ui-w-100 ui-bordered mr-4" alt="{{ product.name }}">
                                <div class="media-body">
                                <p class="d-block text-dark"> {{ product.name }} </p>
                                <small>
                                 
                                </small>
                                </div>
                            </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">${{ product.price }}</td>
                            
                            <td class="align-middle p-4">        
                                <form action="" method="post">
                                  {% csrf_token %}
                                  
                                  <div class="col-md-3 col-lg-3 col-xl-3 d-flex">
                                  <a class="btn btn-link px-2" href="{% url 'cart:item_decrement' product.id %}">
                                     <i class="fas fa-minus"></i>
                                  </a>

                                  <span class='btn btn-primary btn-sm' style='padding-top:8px;'>{{ item.quantity }}</span>

                                  <div class="col-md-3 col-lg-3 col-xl-3 d-flex">
                                  <a class="btn btn-link px-2" href="{% url 'cart:item_increment' product.id %}">
                                      <i class="fas fa-plus"></i>
                                  </a>
                                </form> 
                            </td>                        

                            {% comment %} <td class="align-middle p-4"><input type="text" class="form-control text-center" value="{{ value.quantity }}"></td> {% endcomment %}
                            <td class="text-right font-weight-semibold align-middle p-4">${{ item.total_price }}</td>
                            <td class="text-center align-middle px-0">
                                <a href="{% url 'cart:item_clear' product.id %}" class="shop-tooltip close float-none text-danger" data-original-title="Remove">×</a>
                            </td>
                        </tr>
                      {% endwith %}
                    {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- / Shopping cart table -->
        
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">

              <div class="mt-5">
              <form action="{% url 'coupon:apply' %}" method="post">
                  {{ coupon_apply_form|crispy }}
                  {% csrf_token %}
                  <input type="submit" class="btn btn-sm btn-success float-left" value="apply">
              </form>
                
              </div>

              <div class="d-flex">

                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0">Total price</label>
                  <div class="text-large text-center mt-2"><strong>${{ cart.get_total_price }}</strong></div>
                </div>

                <div class="text-right mt-4 mx-4">
                  <label class="text-muted font-weight-normal m-0">Amount of Discount</label>
                  <div class="text-large text-center mt-2"><strong>${{ cart.get_discount }}</strong></div>
                </div>

                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0">Price After Discount</label>
                  <div class="text-large text-center mt-2"><strong>${{ cart.get_total_price_after_discount }}</strong></div>
                </div>

              </div>
            </div>
            
            <div class='container text-center'>
              <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3'>

                <div class='col d-flex justify-content-md-start'>
                  <a class="btn btn-md btn-primary mt-2 text-white" href="{% url 'order:create_order' %}">Checkout</a>
                </div>

                <div class="col d-flex justify-content-md-end">
                    <a class="btn btn-md btn-success md-btn-flat mt-2 mr-3" href="{% url 'restaurant:home' %}">Back to shopping</a>
                </div>

              </div>
            </div>
        
          </div>
      </div>
  </div>

<style type="text/css">
body{
    margin-top:20px;
    background:#eee;
}
.ui-w-100 {
    width: 100px !important;
    height: 100px;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}
</style>

<script type="text/javascript">

</script>
</body>
</html>