{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}


{% block main %}
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">Change Password</h3>
        </div>
        <div class='card-body'>
            <form method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <div class='col-12'>
                    {{ form.old_password|as_crispy_field }}
                </div>
                <div class='col-6'>
                    {{ form.new_password1|as_crispy_field }}
                </div>

                <div class='col-6'>
                    {{ form.new_password2|as_crispy_field }}
                </div>
                <button class='btn btn-danger'>Change</button>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}