{% extends 'registration/base.html' %}

{% block title %}Confirm change password{% endblock %}


{% block main %}
<div class="col-md-8 mx-auto py-4 text-center">
    <!-- general form elements -->
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">Change password</h3>
        </div>
        <div class='card-body'>
            <p class="py-2">Change password is done.</p>               
        </div>
    </div>
</div>
{% endblock %}