.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.notification {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
}

.notification:hover {
    transform: translateY(-5px);
}

.notification-icon {
    margin-right: 15px;
    font-size: 20px;
}

.notification-message {
    flex-grow: 1;
    font-size: 16px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-left: 5px solid #28a745;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border-left: 5px solid #ffc107;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border-left: 5px solid #dc3545;
}

.alert-info {
    background-color: #cce5ff;
    color: #004085;
    border-left: 5px solid #17a2b8;
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

.close-btn:hover {
    color: #888;
}

.category-btn {
    font-weight: bold;
    margin: 0 5px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}
.category-btn:hover {
    background-color: #28a745;
    color: white;
}

