{% extends 'restaurant/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }} alert-dismissible fade show" role='alert'>
                {{ message|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <header class="row d-flex justify-content-center mb-4 mt-4 p-3">
        <h2 class="col-12 text-center tm-section-title">Contact Page</h2>
        <p class="col-12 text-center">You may use <a rel="nofollow" href="https://www.ltcclock.com/downloads/simple-contact-form/" target="_blank">Simple Contact Form</a> to send email to your inbox. You can modify and use this template for your website. Header image has a parallax effect. Total 3 HTML pages included in this template.</p>
    </header>

    <div class="tm-container-inner-2 tm-contact-section">
        <div class="row">
            <div class="col-md-6">
                <form action="" method="POST" class="tm-contact-form">
                   {% csrf_token %}
                   {{ form.as_p }}
                   <input type='submit' class='btn btn-success'>
                </form>
            </div>
            <div class="col-md-6">
                <div class="tm-address-box">
                    <h4 class="tm-info-title tm-text-success">Our Address</h4>
                    <address>
                        {{ address.description|safe }}
                    </address>
                    <a href="tel:{{ address.phone_number }}" class="tm-contact-link">
                        <i class="fas fa-phone tm-contact-icon"></i>{{ address.phone_number }}
                    </a>
                    <a href="mailto:info@company.co" class="tm-contact-link">
                        <i class="fas fa-envelope tm-contact-icon"></i> {{ address.email }}
                    </a>
                    <div class="tm-contact-social">
                        <a href="{{ address.facebook }}" class="badge badge-success badge-pill"><i class="fab fa-facebook"></i></a>
                        <a href="{{ address.twitter }}" class="badge badge-success badge-pill"><i class="fab fab fa-twitter"></i></a>
                        <a href="{{ address.instagram }}" class="badge badge-success badge-pill"><i class="fab fa-instagram"></i></a>

                        {% comment %} <a href="{{ address.facebook }}" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a> {% endcomment %}
                        {% comment %} <a href="{{ address.twitter }}" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a> {% endcomment %}
                        {% comment %} <a href="{{ address.instagram }}" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!-- How to change your own map point
1. Go to Google Maps
2. Click on your location point
3. Click "Share" and choose "Embed map" tab
4. Copy only URL and paste it within the src="" field below
-->
    <div class="tm-container-inner-2 tm-map-section">
        <div class="row">
            <div class="col-12">
                <div class="tm-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11196.961132529668!2d-43.38581128725845!3d-23.011063013218724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bdb695cd967b7%3A0x171cdd035a6a9d84!2sAv.%20L%C3%BAcio%20Costa%20-%20Barra%20da%20Tijuca%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%20Brazil!5e0!3m2!1sen!2sth!4v1568649412152!5m2!1sen!2sth" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>


{% endblock %}